<app-header1></app-header1>
<!--====== Banner part start ======-->
<section class="banner-section">
  <div class="banner-slider" id="bannerSlider">
    <div class="single-banner" style="background-image: url(assets/img/banner/01.jpg);">
      <div class="container">
	<div class="row">
	  <div class="col-lg-10">
	    <div class="banner-content">
	      <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s" class="text">
		Recupera tu libertad
	      </span>
	      <img src="{{imagen1}}">
	      <ul>
		<li class="text" *ngFor="let titulo of titulos | async">
		  {{titulo.titulo}}
		</li>
	      </ul>
	      <h1 data-animation="fadeInUp" data-delay="1s">
		Bipidestador Robótico tecnologico <br> global
	      </h1>
	      <ul class="btn-wrap">
		<li data-animation="fadeInLeft" data-delay="1.2s">
		  <!-- <a routerLink='/about-us' class="main-btn main-btn-4">Get Started Now</a> -->
		  <a routerLink='/productos' class="main-btn main-btn-4">Adquierelo</a>
		</li>
		<li data-animation="fadeInRight" data-delay="1.4s">
		  <!-- <a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a> -->
		  <a routerLink='/registro' class="main-btn main-btn-2">Adquiere el tuyo Gratis</a>
		</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>

      <div class="banner-shapes">
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
	<div class="four"></div>
      </div>
    </div>
    <div class="single-banner" style="background-image: url(assets/img/banner/02.jpg);">
      <div class="container">
	<div class="row">
	  <div class="col-lg-10">
	    <div class="banner-content">
	      <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
		Nuestra Mision
	      </span>
	      <h1 data-animation="fadeInUp" data-delay="1s">
		Ayudar a las personas en sillas de ruedas a mejorar su calidad de vida
	      </h1>
	      <ul class="btn-wrap">
		<li data-animation="fadeInLeft" data-delay="1.2s">
		  <!-- <a routerLink='/about-us' class="main-btn main-btn-4">Get Started Now</a> -->
		  <a routerLink='/productos' class="main-btn main-btn-4">Adquierelo</a>
		</li>
		<li data-animation="fadeInRight" data-delay="1.4s">
		  <!-- <a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a> -->
		  <a routerLink='/fondeosActivos' class="main-btn main-btn-2">Apoya a otros</a>
		</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>

      <div class="banner-shapes">
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
	<div class="four"></div>
      </div>
    </div>
    <div class="single-banner" style="background-image: url(assets/img/banner/03.jpg);">
      <div class="container">
	<div class="row">
	  <div class="col-lg-10">
	    <div class="banner-content">
	      <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
		Programa de Fondeo
	      </span>
	      <h1 data-animation="fadeInUp" data-delay="1s">
		haz la diferencia apoyando a quien lo necesita
	      </h1>
	      <ul class="btn-wrap">
		<li data-animation="fadeInRight" data-delay="1.4s">
		  <!-- <a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a> -->
		  <a routerLink='/fondeosActivos' class="main-btn main-btn-2">Apoya a otros</a>
		</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>

      <div class="banner-shapes">
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
	<div class="four"></div>
      </div>
    </div>
  </div>

</section>
<!--====== Banner part end ======-->



<!--====== Project Section Start 
    <section class="project-section-two section-gap">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <div class="section-title text-center">
              <span class="title-tag">Latest Project</span>
              <h2 class="title">We Complate Much More<br>Latest Project</h2>
            </div>
          </div>
        </div>
        
        <div class="row project-boxes mt-80 masonary-layout align-items-center">
          <div class="col-lg-4 col-sm-6 order-2 order-lg-1">
            <div class="project-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
              <div class="project-thumb">
                <div class="thumb bg-img-c" style="background-image: url(assets/img/project/01.jpg);"></div>
              </div>
              <div class="project-desc text-center">
                <h4><a routerLink='/portfolio-detail'>Free Consulting</a></h4>
                <p>Join us for consultatoins</p>
                <a routerLink='/portfolio-detail' class="project-link">
                  <i class="fal fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 order-1 order-lg-2">
            <div class="project-box wide-box wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="500ms">
              <div class="project-thumb">
                <div class="thumb bg-img-c" style="background-image: url(assets/img/project/07.jpg);"></div>
              </div>
              <div class="project-desc text-center">
                <h4><a routerLink='/portfolio-detail'>How To Build Your Business</a></h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio</p>
                <a routerLink='/portfolio-detail' class="project-link">
                  <i class="fal fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 order-4 order-lg-3">
            <div class="project-box wide-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms">
              <div class="project-thumb">
                <div class="thumb bg-img-c" style="background-image: url(assets/img/project/08.jpg);"></div>
              </div>
              <div class="project-desc text-center">
                <h4><a routerLink='/portfolio-detail'>Management Corporate Office</a></h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio</p>
                <a routerLink='/portfolio-detail' class="project-link">
                  <i class="fal fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 order-3 order-lg-4">
            <div class="project-box wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
              <div class="project-thumb">
                <div class="thumb bg-img-c" style="background-image: url(assets/img/project/06.jpg);"></div>
              </div>
              <div class="project-desc text-center">
                <h4><a routerLink='/portfolio-detail'>Business Monitor</a></h4>
                <p>Join us for consultatoins</p>
                <a routerLink='/portfolio-detail' class="project-link">
                  <i class="fal fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="view-more-btn text-center mt-50">
          <a routerLink='/portfolio-one' class="main-btn main-btn-3">View All Project</a>
        </div>
      </div>
    </section>
    Project Section End ======-->

    <section class="latest-post-section section-gap">
      <div class="container">
	<div class="row align-items-center justify-content-center">
	  <div class="col-lg-6 col-md-8 col-10 col-tiny-12">
	    <div class="section-title left-border">
	      <span class="title-tag">Programa de Fondeo</span>
	    </div>
	  </div>
	  <div class="col-lg-6 col-md-4 col-10 col-tiny-12">
	    <div class="text-md-right mt-30 mt-md-0">
	      <a routerLink='/fondeosActivos' class="main-btn">Ver Todos</a>
	    </div>
	  </div>
	</div>
	<div class="latest-post-loop row mt-50 justify-content-center">
	  <div class="col-lg-4 col-md-6 col-10 col-tiny-12 wow fadeInLeft" data-wow-duration="1500ms"
	       data-wow-delay="400ms">
	    <div class="latest-post-box">
	      <div class="post-thumb-wrap">
		<div class="post-thumb bg-img-c"
		     style="background-image: url(assets/img/latest-post/01.jpg);">
		</div>
	      </div>
	      <div class="post-desc">
		<span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
		<h3 class="title">
		  <a routerLink='/fondeo'>
		    Fondeo numero 1
		  </a>
		</h3>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
		</div>
		<a routerLink='/fondeo' class="post-link">
		  Apoyar <i class="far fa-long-arrow-right"></i>
		</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-4 col-md-6 col-10 col-tiny-12 wow fadeInUp" data-wow-duration="1500ms"
	       data-wow-delay="600ms">
	    <div class="latest-post-box">
	      <div class="post-thumb-wrap">
		<div class="post-thumb bg-img-c"
		     style="background-image: url(assets/img/latest-post/01.jpg);">
		</div>
	      </div>
	      <div class="post-desc">
		<span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
		<h3 class="title">
		  <a routerLink='/fondeo'>
		    Fondeo numero 2
		  </a>
		</h3>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
		</div>
		<a routerLink='/fondeo' class="post-link">
		  Apoyar <i class="far fa-long-arrow-right"></i>
		</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-4 col-md-6 col-10 col-tiny-12 wow fadeInRight" data-wow-duration="1500ms"
	       data-wow-delay="800ms">
	    <div class="latest-post-box">
	      <div class="post-thumb-wrap">
		<div class="post-thumb bg-img-c"
		     style="background-image: url(assets/img/latest-post/01.jpg);">
		</div>
	      </div>
	      <div class="post-desc">
		<span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
		<h3 class="title">
		  <a routerLink='/fondeo'>
		    Fondeo numero 3
		  </a>
		</h3>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
		</div>
		<a routerLink='/fondeo' class="post-link">
		  Apoyar <i class="far fa-long-arrow-right"></i>
		</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </section>

    <!--====== About Section start ======-->
    <section class="about-section about-illustration-img section-gap">
      <div class="container">
	<div class="illustration-img">
	  <img src="assets/img/illustration/01.png" alt="Image">
	</div>
	<div class="row no-gutters justify-content-lg-end justify-content-center">
	  <div class="col-lg-6 col-md-10">
	    <div class="about-text">
	      <div class="section-title left-border mb-40">
		<span class="title-tag">Nuestro producto</span>
		<h2 class="title">Bipedestador<br> Standers Tecnology </h2>
	      </div>
	      <p class="mb-25">
		Este dispositivo está diseñado para ayudar a personas con discapacidad neuromotriz que sufren degeneraciones físicas y emocionales por pasar tantas horas al día sentados y en una misma posición, dándoles movilidad y facilidad de traslado de una manera más autónoma. 
	      </p>
	      <p>
		Ayudando así a mejorar su calidad de vida.
	      </p>
	      <ul class="about-list">
		<li> <i class="far fa-check"></i> Empresa 100% responsable</li>
		<li> <i class="far fa-check"></i> Ganador de distintos premios nacionales</li>
	      </ul>
	      <!-- <a routerLink='/about-us' class="main-btn">Learn More</a> -->
	      <a routerLink='/productos' class="main-btn">Aquiere el tuyo</a>
	    </div>
	  </div>
	</div>
      </div>
    </section>
    <!--====== About Section end ======-->

    <!--====== Service Part Start ======-->
    <section class="service-section shape-style-one section-gap grey-bg">
      <div class="container">
	<!-- Section Title -->
	<div class="section-title text-center both-border mb-30">
	  <span class="title-tag">Beneficios</span>
	  <h2 class="title">El Bipedestador ofrece <br> beneficios a priori</h2>
	</div>
	<!-- Services Boxes -->
	<div class="row service-boxes justify-content-center">
	  <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInLeft" data-wow-duration="1500ms"
	       data-wow-delay="400ms">
	    <div class="service-box text-center">
	      <div class="icon">
		<img src="assets/img/icons/01.png" alt="Icon">
	      </div>
	      <!-- <h3><a routerLink='/service-detail'>Creative Idea</a></h3> -->
	      <h3><a routerLink=''>Salud</a></h3>
	      <p>Mejora funciones cardiovasculares, digestivas y renales</p>
	      <!-- <a routerLink='/service-detail' class="service-link"> -->
		<a routerLink='' class="service-link">
		  <!-- <i class="fal fa-long-arrow-right"></i> -->
		</a>
	    </div>
	  </div>
	  <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInUp" data-wow-duration="1500ms"
	       data-wow-delay="600ms">
	    <div class="service-box text-center">
	      <div class="icon">
		<img src="assets/img/icons/02.png" alt="Icon">
	      </div>
	      <!-- <h3><a routerLink='/service-detail'>Business Strategy</a></h3> -->
	      <h3><a routerLink=''>Mental</a></h3>
	      <p>Eleva el autoestima</p>
	      <!-- <a routerLink='/service-detail' class="service-link"> -->
		<a routerLink='' class="service-link">
		  <!-- <i class="fal fa-long-arrow-right"></i> -->
		</a>
	    </div>
	  </div>
	  <div class="col-lg-4 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInRight" data-wow-duration="1500ms"
	       data-wow-delay="800ms">
	    <div class="service-box text-center">
	      <div class="icon">
		<img src="assets/img/icons/03.png" alt="Icon">
	      </div>
	      <!-- <h3><a routerLink='/service-detail'>Relationship Buildup</a></h3> -->
	      <h3><a routerLink=''>Socialmente</a></h3>
	      <p>Aporta autonomía para realizar las actividades diarias</p>
	      <!-- <a routerLink='/service-detail' class="service-link"> -->
		<a routerLink='' class="service-link">
		  <!-- <i class="fal fa-long-arrow-right"></i> -->
		</a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="dots-line">
	<img src="assets/img/lines/07.png" alt="Image">
      </div>
    </section>
    <!--====== Service Part End ======-->

    <!--====== Video Start ======-->
    <section class="video-section bg-img-c section-gap" style="background-image: url(assets/img/video-bg/video-1.jpg);">
      <div class="container">
	<div class="row align-items-center justify-content-between">
	  <div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
	    <div class="video-text">
	      <div class="section-title left-border mb-30">
		<span class="title-tag">Demostracion del uso</span>
		<h2 class="title">
		  Excelente demostracion de <br> actividades cotidianas
		</h2>
	      </div>
	      <p>
		libertad en el hogar, exteriores o viajes de campo, completamente independiente y con libertad total
	      </p>
	      <a routerLink='/productos' class="main-btn">Adquierelo</a>
	    </div>
	  </div>
	  <div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
	    <div class="video-btn text-md-center wow fadeInUp" data-wow-duration="1500ms"
		 data-wow-delay="400ms">
	      <a href="https://www.youtube.com/watch?v=zW3D7ABOipc" class="play-btn popup-video">
		<img src="assets/img/icons/play.svg" alt="">
		<i class="fas fa-play"></i>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="line-shape">
	<img src="assets/img/lines/08.png" alt="Line">
      </div>
    </section>
    <!--====== Video end ======-->

    <!--====== Feature Part start 
	<section class="feature-section section-gap">
	  <div class="container">
	    <div class="section-title text-center both-border mb-50">
	      <span class="title-tag"> Our Core Features </span>
	      <h2 class="title">We Are Specialist For Many <br> Business Solutions</h2>
	    </div>
	    <div class="feature-boxes row justify-content-center">
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/01.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>Free Consulting</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/02.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>Business Growth</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/03.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>IT Consulting</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/04.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>Investment Plan</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/05.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>Financial Planning</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	      <div class="col-lg-4 col-md-6 col-10 col-tiny-12">
		<div class="feature-box">
		  <div class="feature-bg bg-img-c" style="background-image: url(assets/img/feature/06.jpg);">
		  </div>
		  <div class="feature-desc">
		    <a routerLink='/portfolio-detail' class="feature-link"><i class="fal fa-long-arrow-right"></i></a>
		    <h4>Relationship</h4>
		    <p>Join us for consultatoins</p>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</section>   Feature Part end ======-->

	<!--====== Why Choose Us Part Start 
	    <section class="wcu-section box-style">
	      <div class="container">
		<div class="wcu-inner">
		  <div class="row align-items-center justify-content-center">
		    <div class="col-lg-6">
		      <div class="wcu-image text-center text-lg-left wow fadeInUp" data-wow-duration="1500ms"
			   data-wow-delay="400ms">
			<img src="assets/img/illustration/02.png" alt="Image">
		      </div>
		    </div>
		    <div class="col-lg-6 col-md-10">
		      <div class="wcu-text">
			<div class="section-title left-border mb-40">
			  <span class="title-tag">What We Do</span>
			  <h2 class="title">Why Choose Finsa <br> Business Agency</h2>
			</div>
			<p>
			  Sedut perspiciatis unde omnis iste natus evoluptat em accusantium doloremque laudantium
			</p>
			<ul class="wcu-list">
			  <li>
			    <i class="far fa-check-circle"></i> Specialist Company Advisor Team
			  </li>
			  <li>
			    <i class="far fa-check-circle"></i> Understanding Machines OpenS tandard

			  </li>
			  <li>
			    <i class="far fa-check-circle"></i> Can Data Visualization Improve Mobile
			  </li>
			</ul>

			<a routerLink='/contact-us' class="main-btn main-btn-4">Join With Us</a>
		      </div>
		    </div>
		  </div>
		  <img src="assets/img/lines/03.png" alt="shape" class="line-shape-one">
		  <img src="assets/img/lines/04.png" alt="shape" class="line-shape-two">
		</div>
	      </div>
	    </section>
	    Why Choose Us Part End 

	    <section class="fact-section grey-bg">
	      <div class="container">
		<div class="fact-boxes row justify-content-between align-items-center">
		  <div class="col-lg-3 col-6">
		    <div class="fact-box text-center mb-40">
		      <div class="icon">
			<i class="flaticon-graphic"></i>
		      </div>
		      <h2 class="counter">3568</h2>
		      <p class="title">Project Compalte</p>
		    </div>
		  </div>
		  <div class="col-lg-3 col-6">
		    <div class="fact-box text-center mb-40">
		      <div class="icon">
			<i class="flaticon-plan"></i>
		      </div>
		      <h2 class="counter">7859</h2>
		      <p class="title">Satisfied Clients</p>
		    </div>
		  </div>
		  <div class="col-lg-3 col-6">
		    <div class="fact-box text-center mb-40">
		      <div class="icon">
			<i class="flaticon-target-1"></i>
		      </div>
		      <h2 class="counter">6352</h2>
		      <p class="title">International Awards</p>
		    </div>
		  </div>
		  <div class="col-lg-3 col-6">
		    <div class="fact-box text-center mb-40">
		      <div class="icon">
			<i class="flaticon-teamwork"></i>
		      </div>
		      <h2 class="counter">7856</h2>
		      <p class="title">Expert Team Members</p>
		    </div>
		  </div>
		</div>
	      </div>
	    </section>
	    Fact Part End ======-->

	    <!--====== Team Section Start ======-->
	    <section class="team-section section-gap">
	      <div class="container">
		<!-- Section Title -->
		<div class="section-title mb-40 both-border text-center">
		  <span class="title-tag">Conoce a nuestro equipo</span>
		  <h2 class="title">Nuestros Exclusivos <br> Miembros</h2>
		</div>

		<!-- Team Boxes -->
		<div class="row team-members" id="teamSliderOne">
		  <div class="col-lg-4">
		    <div class="team-member">
		      <div class="member-picture-wrap">
			<div class="member-picture">
			  <img src="assets/img/team/01.jpg" alt="TeamMember">
			  <div class="social-icons">
			    <a routerLink='/'>
			      <i class="fab fa-linkedin"></i>
			    </a>
			  </div>
			</div>
		      </div>
		      <div class="member-desc">
			<!-- <h3 class="name"><a routerLink='/team-detail'>Luis</a></h3> -->
			<h3 class="name"><a routerLink=''>Luis Antonio Madrid</a></h3>
			<span class="pro">Industrial Engineer</span>
		      </div>
		    </div>
		  </div>
		  <div class="col-lg-4">
		    <div class="team-member">
		      <div class="member-picture-wrap">
			<div class="member-picture">
			  <img src="assets/img/team/02.jpg" alt="TeamMember">
			  <div class="social-icons">
			    <a routerLink='/'>
			      <i class="fab fa-linkedin"></i>
			    </a>
			  </div>
			</div>
		      </div>
		      <div class="member-desc">
			<!-- <h3 class="name"><a routerLink='/team-detail'>Jorge</a></h3> -->
			<h3 class="name"><a routerLink=''>Jorge Alejandro Symonds</a></h3>
			<span class="pro">business engineer</span>
		      </div>
		    </div>
		  </div>
		  <div class="col-lg-4">
		    <div class="team-member">
		      <div class="member-picture-wrap">
			<div class="member-picture">
			  <img src="assets/img/team/03.jpg" alt="TeamMember">
			  <div class="social-icons">
			    <a routerLink='/'>
			      <i class="fab fa-linkedin"></i>
			    </a>
			  </div>
			</div>
		      </div>
		      <div class="member-desc">
			<!-- <h3 class="name"><a routerLink='/team-detail'>Mizael</a></h3> -->
			<h3 class="name"><a routerLink=''>Mizael Gálvez</a></h3>
			<span class="pro">software engineer</span>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </section>
	    <!--====== Team Section End ======-->

	    <!--====== Skill Section Start ======-->
	    <section class="skill-section">
	      <div class="container">
		<div class="row align-items-center justify-content-center">
		  <div class="col-lg-6 col-md-10">
		    <!-- Skill Text Block -->
		    <div class="skill-text">
		      <div class="section-title mb-40 left-border">
			<span class="title-tag">El mas Vendido</span>
			<h2 class="title">Tecnologia y libertad</h2>
		      </div>
		      <p>
			Mejora tus funciones cardiovasculares, digestivas y renales gracias a la posicion vertical, Aumenta tu actividad física activando los musculos 
			ademas Previene las llagas causadas por la silla de ruedas y la larga exposicion 
		      </p>
		      <p>
			Aporta autonomía para realizar las 
			actividades diarias Eleva el autoestima Mejora la calidad de vida
		      </p>

		      <!-- <a routerLink='/about-us' class="main-btn">Learn More</a> -->
		      <a routerLink='/compra' class="main-btn">Adquierelo</a>
		    </div>
		  </div>
		  <div class="col-lg-6 col-md-10">
		    <div class="wcu-image text-center text-lg-left wow fadeInUp" data-wow-duration="1500ms"
			 data-wow-delay="400ms">
		      <img src="assets/img/illustration/02.png" alt="Image">
		    </div>
		  </div>
		</div>
	      </div>
	    </section>
	    <!--====== Skill Section End ======-->

	    <!--====== Testimonials part start ======-->
	    <section class="testimonial-section grey-bg">
	      <div class="container">
		<div class="row justify-content-center justify-content-lg-start">
		  <div class="col-lg-6 col-md-10 offset-lg-5">
		    <div class="section-title left-border">
		      <span class="title-tag">Conoce a nuestros clientes</span>
		      <h2 class="title">Nos encanta la sonrisa <br> que genera en ellos</h2>
		    </div>
		    <div class="testimonial-items" id="testimonialSliderOne">
		      <div class="testimonial-item">
			<div class="content">
			  <p>
			    <span class="quote-top">
			      <i class="fas fa-quote-left"></i>
			    </span>
			    comentario de nuestros clientes, feedback o agradecimientos
			    <br>
			    omentario de nuestros clientes, feedback o agradecimientos, omentario de nuestros clientes, feedback o agradecimientos
			    <span class="quote-bottom">
			      <i class="fas fa-quote-right"></i>
			    </span>
			  </p>

			</div>
			<div class="author">
			  <div class="thumb">
			    <img src="assets/img/testimonial/author.png" alt="img">
			  </div>
			  <div class="desc">
			    <h4>nombre del cliente</h4>
			    <span>Ciudad y Pais</span>
			  </div>
			</div>
		      </div>
		      <div class="testimonial-item">
			<div class="content">
			  <p>
			    <span class="quote-top">
			      <i class="fas fa-quote-left"></i>
			    </span>
			    comentario de nuestros clientes, feedback o agradecimientos
			    <br>
			    omentario de nuestros clientes, feedback o agradecimientos, omentario de nuestros clientes, feedback o agradecimientos
			    <span class="quote-bottom">
			      <i class="fas fa-quote-right"></i>
			    </span>
			  </p>

			</div>
			<div class="author">
			  <div class="thumb">
			    <img src="assets/img/testimonial/author.png" alt="img">
			  </div>
			  <div class="desc">
			    <h4>nombre del cliente</h4>
			    <span>Ciudad y Pais</span>
			  </div>
			</div>
		      </div>
		    </div>
		    <div class="testimonial-arrows row"></div>
		  </div>
		</div>
	      </div>
	      <!-- Testimonials img -->
	      <div class="testimonial-img">
		<img src="assets/img/testimonial/testimonial.png" alt="testimonial">
	      </div>
	    </section>
	    <!--====== Testimonials part end ======-->

	    <!--====== Client Area Start ======-->
	    <section class="client-section">
	      <div class="container">
		<div class="client-slider section-gap line-bottom">
		  <div class="row align-items-center justify-content-between" id="clientSlider">
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/01.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/02.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/03.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/04.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/05.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/01.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/02.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/03.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/04.png" alt="">
		      </a>
		    </div>
		    <div class="col">
		      <a routerLink='/' class="client-img d-block text-center">
			<img src="assets/img/clients/05.png" alt="">
		      </a>
		    </div>
		  </div>
		</div>
	      </div>
	    </section>
	    <!--====== Client Area End ======-->


	    <app-footer1></app-footer1>
