<footer>
		<div class="container">
			<div class="footer-widget">
				<div class="row">
					
					<div class="col-lg-3 col-sm-6 order-3">
						<div class="widget nav-widget">
							<h4 class="widget-title">
							<div class="footer-logo">
								<img src="assets/img/logo-2.png" alt="Finsa">
							</div>
							</h4>
							<p>siguenos en nuestras <br> redes sociales</p>
							<ul class="social-links">
								<li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 order-lg-4 order-5">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<div class="widget nav-widget">
									<h4 class="widget-title">Compañia</h4>
									<ul>
										<li><a href="javascript:void(0)">Nosotros</a></li>
										<li><a href="javascript:void(0)">programas</a></li>
										<li><a href="javascript:void(0)">vacantes</a></li>
										<li><a href="javascript:void(0)">acceso</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="widget contact-widget">
									<h4 class="widget-title">Contactanos</h4>
									<p></p>
									<ul class="contact-infos">
										<li>
											<a href="tel:+0123456789">
												<i class="far fa-phone"></i>
												+52 66 2177 1100
											</a>
										</li>
										<li>
											<a href="mailto:support@gmail.com">
												<i class="far fa-envelope-open"></i>
												hi@standers.tech
											</a>
										</li>
										<li> <i class="far fa-map-marker-alt"></i> Paseo de la reforma 1020 MX</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 order-lg-5 order-4">
						<div class="widget insta-feed-widget">
							<h4 class="widget-title">Momentos Importantes</h4>
							<div class="insta-images">
								<div class="insta-img" style="background-image: url(assets/img/instagram/01.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/img/instagram/02.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/img/instagram/03.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/img/instagram/04.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/img/instagram/05.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/img/instagram/06.jpg);">
									<a href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p class="copyright-text">
					<span>Copy@ <a href="javascript:void(0)">DrimMAKE Labs</a> 2021</span>
					<span>Todos los derechos reservados By Standers Tecnology</span>
				</p>

				<a href="javascript:void(0)" class="back-to-top"><i class="far fa-angle-up"></i></a>
			</div>
		</div>

		<!-- Lines -->
		<img src="assets/img/lines/01.png" alt="line-shape" class="line-one">
		<img src="assets/img/lines/02.png" alt="line-shape" class="line-two">
	</footer>