<app-header1></app-header1>

    <!--====== Shop Section Start ======-->
    <section class="shop-details-wrap">
        <div class="container">
            <div class="product-details section-gap">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="product-gallery clearfix">
                            <div class="product-gallery-arrow"></div>
                            <div class="gallery-slider-warp">
                                <div class="product-gallery-slider">
                                    <div class="single-gallery-itam" data-thumb="assets/img/shop/details-thumb-01.jpg">
                                        <img src="assets/img/shop/product-details-01.jpg" alt="Image">
                                    </div>
                                    <div class="single-gallery-itam" data-thumb="assets/img/shop/details-thumb-02.jpg">
                                        <img src="assets/img/shop/product-details-02.jpg" alt="Image">
                                    </div>
                                    <div class="single-gallery-itam" data-thumb="assets/img/shop/details-thumb-03.jpg">
                                        <img src="assets/img/shop/product-details-03.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-summary">
                            <h3 class="product-name">Bipedestador</h3>
                            <span class="price">$107,000 MXN</span>
                            <div class="short-description">
                                <p>
                                    Este dispositivo está diseñado para ayudar a personas con discapacidad neuromotriz que sufren degeneraciones físicas y emocionales por pasar tantas horas al día sentados y en una misma posición, dándoles movilidad y facilidad de traslado de una manera más autónoma.
                                </p>
                            </div>
                            <div class="add-to-cart-form">
                                <form action="#">
                                    <div class="quantity-input">
                                        <div class="quantity-down" id="quantityDown">
                                            <i class="fal fa-minus"></i>
                                        </div>
                                        <input id="quantity" disabled type="text" value="1" name="quantity">
                                        <div class="quantity-up" id="quantityUP">
                                            <i class="fal fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="add-to-cart-btn">
                                        <button routerLink='/gracias' type="button">Comprar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="product-details-tab">
                            <div class="tab-filter-nav">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="active" id="nav-desc" data-toggle="tab" href="#tab-desc" role="tab">
                                        Descripcion
                                    </a>
                                    <a id="nav-info" data-toggle="tab" href="#tab-info" role="tab">
                                        Datos Tecnicos
                                    </a>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="tab-desc" role="tabpanel">
                                    <div class="product-description">
                                        <p>
                                            Mejora tus funciones cardiovasculares, digestivas y renales gracias a la posicion vertical, Aumenta tu actividad física activando los musculos 
                                            ademas Previene las llagas causadas por la silla de ruedas y la larga exposicion 
                                        </p>
                                        <p>
                                            Aporta autonomía para realizar las 
                                            actividades diarias Eleva el autoestima Mejora la calidad de vida
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-info" role="tabpanel">
                                    <div class="additional-info">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Peso</th>
                                                    <td>60.59 kg</td>
                                                </tr>
                                                <tr>
                                                    <th>Dimenciones</th>
                                                    <td>43.31 x 66.70 x 120.50 cm</td>
                                                </tr>
                                                <tr>
                                                    <th>Color</th>
                                                    <td>Negro</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-product">
                <h2 class="related-title">Fondeos del Trimestre</h2>
                <div class="product-loop related-product-slider row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img src="assets/img/shop/01.png" alt="image">
                                <div class="product-action">
                                    <a routerLink='/fondeo'><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="product-desc">
                                
                                <h5 class="title"><a >Fondeo 1</a></h5>
                                
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
							</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img src="assets/img/shop/01.png" alt="image">
                                <div class="product-action">
                                    <a routerLink='/fondeo'><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="product-desc">
                                
                                <h5 class="title"><a >Fondeo 2</a></h5>
                                
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
							</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img src="assets/img/shop/01.png" alt="image">
                                <div class="product-action">
                                    <a routerLink='/fondeo'><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="product-desc">
                                
                                <h5 class="title"><a >Fondeo 3</a></h5>
                                
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Shop Section End ======-->
    <app-footer1></app-footer1>