<app-header1></app-header1>
<!--====== Breadcrumb part Start ======-->
    <div class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Todos los Fondeos</h1>
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
    <!--====== Breadcrumb part End ======-->

    <!--====== Blog Section Start ======-->
    <section class="blog-section section-gap-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <!-- Blog loop(Grid) -->
                    <div class="blog-loop grid-blog row justify-content-center">
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <div class="post-thumb-wrap">
                                        <div class="post-thumb bg-img-c"
                                            style="background-image: url(assets/img/latest-post/01.jpg);">
                                        </div>
                                    </div>
                                    <div class="post-desc">
                                        <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 54%;" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">54%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Post -->
                        <div class="col-lg-3 col-md-4 col-10 col-tiny-12">
                            <div class="single-post-box">
                                <div class="post-thumb">
                                    <img src="assets/img/blog/11.jpg" alt="Image">
                                </div>
                                <div class="post-content">
                                    <span class="post-date"><i class="far fa-calendar-alt"></i>17 Abril 2021</span>
                                        <h3 class="title">
                                            <a routerLink='/fondeo'>
                                                Fondeo numero 1
                                            </a>
                                        </h3>
                                        <p>
                                            Descripcion del fondeo, lo mas llamativo de cada persona a fondear
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                          </div>
                                        <a routerLink='/fondeo' class="post-link">
                                            Apoyar <i class="far fa-long-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="pagination-wrap">
                        <ul>
                            <li><a routerLink='/fondeosActivos'><i class="far fa-angle-left"></i></a></li>
                            <li class="active"><a routerLink='/fondeosActivos'>01</a></li>
                            <li><a routerLink='/fondeosActivos'>02</a></li>
                            <li><a routerLink='/fondeosActivos'>03</a></li>
                            <li><a routerLink='/fondeosActivos'><i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8">
                    <!-- sidebar -->
                    <!-- <app-blog-sidebar></app-blog-sidebar> -->
                </div>
            </div>
        </div>
    </section>
    <!--====== Blog Section End ======-->

   
    <app-footer1></app-footer1>