<app-header1></app-header1>
<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrmb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <!-- <h1 class="page-title">Conoce mas del Fondeado</h1> -->
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Breadcrumb part End ======-->


    <!--====== Working Process Part Start ======-->
    <section class="working-process-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-lg-1 order-2">
                    <div class="process-text">
                        <!-- Section Title -->
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Nombre de la Persona</span>
                            <h2 class="title">Su lema</h2>
                        </div>
                        <p>
                            Descripcion general y su historia
                        </p>
                        <!-- process-loop -->
                        <div class="process-loop">
                            <div class="single-process wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                                <div class="icon">
                                    <i class="fal fa-users"></i>
                                    <span>01</span>
                                </div>
                                <div class="content">
                                    <h4>Subtitulo</h4>
                                    <p>descripcion de su objetivo a conseguir o lograr en la vida</p>
                                </div>
                            </div>
                            <div class="single-process wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                                <div class="icon">
                                    <i class="fal fa-graduation-cap"></i>
                                    <span>02</span>
                                </div>
                                <div class="content">
                                    <h4>Subtitulo</h4>
                                    <p>descripcion de su objetivo a conseguir o lograr en la vida</p>
                                </div>
                            </div>
                            <div class="single-process wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="800ms">
                                <div class="icon">
                                    <i class="fal fa-plane"></i>
                                    <span>03</span>
                                </div>
                                <div class="content">
                                    <h4>Subtitulo</h4>
                                    <p>descripcion de su objetivo a conseguir o lograr en la vida</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 order-lg-2 order-1">
                    <div class="process-video bg-img-c" style="background-image: url(assets/img/video-bg/01.jpg);">
                        <div class="video bg-img-c wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="400ms"
                            style="background-image: url(assets/img/video-bg/02.jpg);">
                            <a class="paly-icon popup-video" href="">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="working-circle"></div>
    </section>
    <!--====== Working Process Part End ======-->

    

    <!--====== CTA Start ======-->
    <section class="cta-aection">
        <div class="container">
            <div class="cta-wrap mt-negative bg-img-c" style="background-image: url(assets/img/lines/16.png);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <div class="section-title both-border mb-30">
                                <span class="title-tag">Realiza la aportacion</span>
                                <h2 class="title">Coloca la cantidad con la que deseas apoyar</h2>
                                <input type="number" placeholder="Cantidad">
                            </div>
                            <a routerLink='/gracias' class="main-btn main-btn-3">Fondear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== CTA Start ======-->

    <!--====== Client Area Start ======-->
    <div class="space">
        
    </div>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>