<app-header1></app-header1>
<!--====== Breadcrumb part Start ======-->
    <!--====== Breadcrumb part End ======-->

    <!--====== FAQ Section Start ======-->
    <section class="faq-section section-gap">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title mb-60 align-items-center">
                <div class="col-lg-6">
                    <div class="section-title left-border">
                        <span class="title-tag">Preguntas frecuentes</span>
                        <h2 class="title">Las principales dudas de nuestros clientes</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        Somos lo mas claro posible para que tomes tu desicion, nuestros valores estan alineados a la trasparencia y honestidad. <br> <br> “Las piedras angulares para un éxito equilibrado son la honestidad, el carácter, la integridad, la fe, el amor y la lealtad.”
                        Zig Ziglar
                    </p>
                </div>
            </div>

            <!-- FAQ LOOP -->
            <div class="accordion faq-loop grey-header" id="faqAccordion">
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header active-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTwo">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-minus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseTwo" class="collapse show" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseThree" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFour">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseFour" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseFive">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseFive" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSix">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseSix" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseSeven">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseSeven" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseEight">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseEight" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseNine">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseNine" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseTen">
                            Pregunta ?

                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseTen" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            la mejor respuesta posible, clara y trasparente.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Faq LOOP -->
        </div>
    </section>
    <!--====== FAQ Section End ======-->
    <app-footer1></app-footer1>